@font-face {
    font-family: 'Montserrat Alternates';
    src: url('ofont.ru_Montserrat\ Alternates.ttf');
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    font-family: 'Montserrat Alternates';
    width: 100%;
    height: fit-content;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    transition: all 0.3s ease;
}

.Theme {
    background-color: rgb(30, 30, 30);
    border: 1px solid;
    border-radius: 6px;
    margin-left: auto;
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

.warning {
    width: 35%;
    height: 70px;
    border: none;
    background: linear-gradient(to bottom right, blue, 90%, black);
    color: white;
    font-size: 13px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: 0 0;
    transform: translateX(-110%);
    padding: 10px;
    border-radius: 7px;
}

.button_ {
    background-color: white;
    font-family: 'Montserrat Alternates';
    padding: 5px;
    margin-top: 10px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid black;
    transition: all ease 0.4s;
}

main {
    margin-left: 5px;
}

.guess {
    text-align: center;
}

.blockForButt {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

header h1 {
    margin: 0px;
}

.button_:hover {
    background-color: blue;
    color: white;
    transition: all ease 0.4s;
    border-color: white;
    cursor: pointer;
}

.spaceField {
    border: 1px solid blue;
    border-radius: 6px;
    font-family: 'Montserrat Alternates';
    margin-left: 3px;
    width: 10%;
    caret-color: blue;
}

.move {
    animation: Notif 10s ease normal;
}

input:focus {
    outline: 2px solid blue;
}

@keyframes Notif {
    0% {
        transform: translateX(-110%);
    }
    25% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(0%);
    }
    75% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-110%);
    }
}

@media screen and (max-width: 450px) {
    .warning {
        width: 70%
    }
}